In [12]:
text = 'hello baby'
print(a)

hello baby

In [17]:
a,len(a)

('hello baby', 10)

In [19]:
text.upper()

'HELLO BABY'

In [33]:
text.capitalize()

'Hello baby'

In [35]:
text2 = 'i love you'
print(text+text2)

hello babyi love you

In [36]:
text+" "+text2

'hello baby i love you'

In [37]:
text * 5

'hello babyhello babyhello babyhello babyhello baby'

In [38]:
text[0]

'h'

In [39]:
text[2]

'l'

In [42]:
text3 = '僕の恋人になってくれ！！！'
print(text3)

僕の恋人になってくれ！！！

In [51]:
type(None)

NoneType

In [52]:
value=print('abc')
print(value)

abc
None

In [53]:
x = (4<5)
print(x)

True

In [54]:
type(x)

bool

In [93]:
L = [4,6,8,9]

In [94]:
len(L)

4

In [95]:
L.append(11)
print(L)

[4, 6, 8, 9, 11]

In [96]:
L += [13,17,20]

In [104]:
L.sort
print(L)

[4, 6, 8, 9, 11, 13, 17, 20]

In [111]:
L1 = [1,3,5,2,3,[5,1,23],"love you"]
print(L1)

[1, 3, 5, 2, 3, [5, 1, 23], 'love you']

In [112]:
max(L)

11

In [113]:
min(L)

4

In [114]:
len(L)

5

In [208]:
L = [4,6,8,9,11]
L[0]

4

In [209]:
L[3]

9

In [210]:
L[-1]

11

In [211]:
L[:3]

[4, 6, 8]

In [212]:
L[-2:]

[9, 11]

In [213]:
L[::2]

[4, 8, 11]

In [214]:
L[::-2]

[11, 8, 4]

In [215]:
L.sort()
L

[4, 6, 8, 9, 11]

In [216]:
L.sort(reverse=True)
L

[11, 9, 8, 6, 4]

In [217]:
L.insert(0,50)
L

[50, 11, 9, 8, 6, 4]

In [240]:
T = (4,9,10)
print(T)

(4, 9, 10)

In [241]:
len(T)

3

In [242]:
T[0]

4

In [238]:
T.insert(1,5)

AttributeError: 'tuple' object has no attribute 'insert'

In [243]:
T.append(12)

AttributeError: 'tuple' object has no attribute 'append'